.pageHeader {
    text-align: center;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: brown;
}

.shop {
    border: 1px dotted black;
    width: 400px;
    margin-right: 25px;
}

